doctype html
html
    head
        title
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        include _style

    body(style="background-color: #f9f9f9")
        div(style="background-color: #f9f9f9")
            div(style="background: #f9f9f9; margin: 0px auto; max-width: 600px")
                table(align="center", border="0", cellpadding="0", cellspacing="0", role="presentation", style="background: #f9f9f9; width: 100%")
                    tbody
                        tr
                            td(style="border-bottom: #570091 solid 5px; padding: 20px 0; text-align: center;")

            div(style="background: #fff; margin: 0px auto; max-width: 600px")
                table(align="center", border="0", cellpadding="0", cellspacing="0", role="presentation", style="background: #fff; width: 100%")
                    tbody
                        tr
                            td(style="border: #dddddd solid 1px; padding: 20px 0; text-align: center;")
                                .mj-column-per-100.outlook-group-fix(style="text-align: left; display: inline-block; width: 100%")
                                    table(border="0", cellpadding="0", cellspacing="0", role="presentation", width="100%")
                                        tr
                                            td(align="center", style="padding: 3px 25px")
                                                img(src="https://i.imgur.com/6FW1GgJ.png", alt="Try On Logo", style="max-width: 90px; height: auto; pointer-events: none")
                                                //- img(src="https://i.imgur.com/GUtyMAr.png", alt="Try On Logo", style="max-width: 90px; height: auto; pointer-events: none")
                                        block content
